<h3>Film List</h3>
<a class="btn btn-primary" routerLink="/favourite-films">Favourite</a>
<app-filter-film (filterWordChange)="onFilterWordChange($event)"></app-filter-film>
<div class="film-list">

  <div
    class="film-card m-2 col-lg-5 col-sm-12 border border-primary p-2 rounded-3"
    *ngFor="let film of filteredFilms; let i = index"
    (click)="openFilm(film)"
  >
    <h4>{{ film.title }}
      <button [disabled]="film.isFavourite" class="btn btn-secondary" (click)="addFilmToFavourite(i+1)">Add to favourite</button>
    </h4>
  </div>

</div>
